<div class="ph-item">
  <div class="ph-col-12 loader-content">
    <div class="ph-picture"></div>
    <div class="ph-picture no-margin"></div>
    <div class="ph-row">
      <div class="ph-col-2 empty big title"></div>
      <div class="ph-col-8 big title"></div>
      <div class="ph-col-2 empty big title"></div>
      <div class="ph-col-12 empty"></div>
      <div class="ph-col-12"></div>
      <div class="ph-col-12"></div>
      <div class="ph-col-12"></div>
      <div class="ph-col-12"></div>
      <div class="ph-col-12"></div>
    </div>
  </div>
</div>
