.character-container {
  width: 90%;
  margin: 0 auto;
}

.character-head {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: 0 auto;
  max-width: 800px;
  height: 300px;
  background-color: var(--littleGray);
  border-radius: 8px;
  padding: 12px;
  -webkit-box-shadow: 3px 5px 25px 5px rgba(117, 117, 117, 0.31);
  box-shadow: 3px 5px 25px 5px rgba(117, 117, 117, 0.31);
}

.character-head .character-head__img {
  background: url('http://i.annihil.us/u/prod/marvel/i/mg/c/e0/535fecbbb9784.jpg') no-repeat center center/cover;
  border-radius: 12px;
}

.character-head__data {
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.character-head__data .character-head__name {
  margin-bottom: 12px;
  display: flex;
  justify-content: center;
}
.character-head__description p {
  text-align: justify;
}
.character-head__date {
  text-align: end;
}


.character-foot {
  margin: 40px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.character-foot > div {
  height: fit-content;
}

.character-foot h2 {
  text-align: center;
}

/* Cards */

.foot-item-container {
  width: 100%;
  columns: 3 150px;
}

.foot-card {
  width: 90%;
  background-color: var(--aliceblue);
  position: relative;
}
.foot-card img {
  width: 100%;
  border-radius: 8px;
  margin: 12px;
  transition: 0.5s ease;
  z-index: 20;
  -webkit-box-shadow: 2px 2px 12px 2px rgba(107, 107, 107, 0.31);
  box-shadow: 2px 2px 12px 2px rgba(107, 107, 107, 0.31);
}

.foot-card:hover img {
  opacity: 0.8;
  transform: translateY(-30px);
}

.foot-card p {
  position: absolute;
  font-size: var(--text-med);
  bottom: 14px;
  left: 15px;
  display: none;
  animation: drop 0.5s ease forwards;
}
@keyframes drop {
  0% { opacity: 0; bottom: -14px}
  100% {transform: scale(1); opacity: 1; bottom: 14px}
}

.foot-card:hover p {
  display: block;
  font-weight: bold;
  color: var(--red);
}
