.characters {
  display: flex;
  flex-direction: column;
  height: 396px;
  align-items: center;
}

.favorites {
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 20px;
}

.cards-container {
  max-width: 800px;
  padding: 12px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.fav-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.pagination {
  display: flex;
  place-items: center;
  gap: 10px;
}
.pages {
  cursor: pointer;
  &.active {
    color: var(--red);
    cursor: default;
  }
}
@for $i from 0 through 156 {
  .page-#{$i}.pages:hover {
    color: var(--red);
  }
}
