<div class="container">
  <section class="characters">
    <app-characters-menu (orderBy)="orderBy($event)"></app-characters-menu>
    <div class="cards-container">
      <app-character-card
        *ngFor="let character of characters"
        [character]="character"
        (openModal)="onOpenModal($event)"></app-character-card>
    </div>
    <div class="pagination">
      <button type="button"
        [disabled]="params.offset == 0"
        class="button btn-primary"
        (click)="previousPage()">Previous</button>
      <button
        [disabled]="params.offset == maxLimit"
        type="button"
        class="button btn-primary"
        (click)="nextPage()">Next</button>
    </div>
  </section>
  <section class="favorites">
    <h3>My favourites</h3>
    <div class="fav-container">
      <app-favorite-card
        *ngFor="let fav of favoriteComics"
        [favoriteComic]="fav"
        (deletedComic)="deletedComic($event)">
      </app-favorite-card>
    </div>
  </section>
</div>

<app-modal-details
  *ngIf="openModal"
  [openModal]="openModal"
  [comic]="comicForModal"
  (closedModal)="onCloseModal($event)"
  (addedComic)="addedComic($event)"
  (deletedComic)="deletedComic($event)">
</app-modal-details>
